body {
  font-family: 'Open Sans', sans-serif;
  background-color: #673AB7;
  color: white;
}

/*Voting Screen */
.voting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /*display: flex;*/
  /*flex-direction: column;*/

  user-select: none;
}

.voting button {
  /*flex: 1 0 0;*/

  background-color: #673AB7;
  border-width: 0;
}
